


body {
    background-size: cover;
   /* background-image: url('../../images/banner.png');*/
    background: #0e044d!important;
    background-position:center;
}

footer.footer {
    display: none;
}

.position-style {
    width: 500px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 20px;
}

p {
    color: #fff;
    margin-bottom: 0px;
}

.position-style-left {
    width: 100%;
    float: left;
    border: solid 3px #ffffff;
    padding: 40px;
    border-radius: 8px;
    background: #00000063;
}

.position-style-right {
    width: 50%;
    float: left;
    min-height: 495px;
}

h2 {
    color: #fff;
}

.logo {
    display: none;
}

.social-media {
    display: inline-block;
}

.social-media li {
    float: left;
    margin: 0 4px;
    list-style-type: none;
}

.social-media li a {
    display: block;
    padding: 2px;
}

.social-media li a img {
    width: 80%;
}

.right-btn-styl {
    margin: 12px 0;
    background: no-repeat;
    border: solid 1px #ccc;
    color: #fff;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 14px;
    border-radius: 4px;
    width: 70%;
}

    .right-btn-styl:hover {
        border: solid 1px #fff;
    }

.left-btn-styl {
    border: solid 2px #ffffff;
    background: #1350a9;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 16px;
    padding: 10px 20px;
    color: #fff;
    border-radius: 6px;
}

.left-btn-styl:hover {
    background-color: #d0bc0d;
    color: #fff;
}

.position-style {
    margin-top: 30px;
}

.btn-secondary {
    color: #fff;
    background-color: #096cec;
    border-color: #096cec;
}

.goog-te-gadget .goog-te-combo {
    width: 75px !important;
}

::-webkit-input-placeholder { /* Edge */
    color: #b7b4b4;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #b7b4b4;
}

::placeholder {
    color: #b7b4b4;
}

.responsive-h2 {
    text-transform: uppercase;
    font-size: 26px;
}
.advantages-planet {
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
}
.footer-section2 {
    margin-top: 11px;
    position: inherit !important;
    left: 0;
    bottom: 1.3rem !important;
    width: 100% !important;
    text-align: center !important;
    height: 3.3rem;
    font-size: 1.6rem !important;
    color: #fff !important;
    font-weight: bold;
}
.input_bg {
    margin-bottom: 5px;
    width: 100%;
    border-radius: 2.4rem;
    font-size: 14px !important;
    padding: 12px 4px;
    margin-top: 10px;
    text-align: center;
    border: solid 1px #ffffff;
    background-image: linear-gradient(#0e044d, #0e044d) !important;
    /* box-shadow: 0px 3px 0px 0px rgb(212 211 211); */
    color: #fff;
    /* border-radius: 20px;
        }
.input_bg:focus{
    outline:unset;
    /*box-shadow:unset;*/
}
.input_bg::placeholder{
    color:#fff;
}
.loginbtn {
    background: linear-gradient(#0e044d, #0e044d) !important;
    box-shadow: 0px 0px 0px 2px rgb(182 180 186) !important;
    color: #fff !important;
    font-weight: 600 !important;
}

@media screen and (max-width: 640px) {
    .position-style {
        margin-top: 0px;
    }

    .position-style {
        width: 100%;
    }

    .position-style-left {
        width: 100%;
    }

    .position-style-right {
        display: none;
    }
}





/*----register popup css------*/
.boxset {
    color: #fff;
}

.boxset input {
    padding: 8px 6px;
    border: unset;
    width: 86%;
}

.boxset input:focus {
    outline: unset;
}

.boxset input::placeholder {
    font-size: 13px;
}

.boxset h4 {
    /*font-size: 23px;*/
    font: 600 1.8rem/2rem "Cairo",sans-serif;
}

.rerlbtn {
    display: flex;
    justify-content: space-around;
}

.rerlbtn button {
    color: #fff;
    background: #a20ef9;
    padding: 10px;
    border: unset;
    max-width: 12rem !important;
}

.rerlbtn button:focus {
    outline: unset;
}

.rerlbtn a {
    max-width: 16rem !important;
    padding: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.modal1 {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.modal-content {
    background-color: #1c0148;
    margin: auto;
    padding: 36px 10px;
    border: 1px solid #c15df99e;
    width: 271px;
    border-radius: 6px;
}

.btn:focus {
    outline: unset;
}

@media(min-width:315px) and (max-width:365px) {
    .modal-content {
        /*width: 79%;*/
        padding: 38px 18px;
    }

    .rerlbtn button {
        padding: 0.6rem 1rem !important;
    }

    .rerlbtn a {
        padding: 0.6rem 1rem !important;
    }
}

